*{
  font-family: Montserrat, Arial;
}


html {scroll-behavior: smooth;}

img, video, object {max-width: 100%;}

.header {
  position: absolute;
  width:100%;
  background-size: cover;
  background-color: #999;


}


h1 {
  position: absolute;
  top: 100px;
  float: left;
}

/*

a.nav-link:visited {color: black;}
a.nav-link:active {color: black;}
a.nav-link:hover {color: black;}
*/

nav {
    padding: 20px 0px;
    position: absolute;
    top:0px;
    float: right;


}


nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


nav ul li {
    font-size: 16px;
    display: inline-block;
    color: white;
    text-decoration: none;
    display: inline-block;

}

nav ul li a:active, nav ul li a:hover {
    background:#F2F2F2;
    color: black;

}

nav ul li a {
  color: white;
  padding: 20px 0px 20px 0px;

}

#ausstellung-intro {
  margin-top: 600px;
}

.BildText {
  height: auto;
}

#carouselExampleControls {
  margin-top: 50px;
  margin-bottom: 50px;

}

/*
.container {
  margin-left: 8.5vw;
  margin-right: 8.5vw;
  width: 83vw;
}
*/

#HeaderBild {
  margin-bottom: 50px;
  position: relative;
  top:0;
  width: 100%;

}



.ÜberschriftText {
  margin bottom: 30px;
}
