*{
  font-family: 'Montserrat', sans-serif;
}


html {scroll-behavior: smooth;}

img, video, object {max-width: 100%;}

.header {
  position: absolute;
  width:100%;
  background-size: cover;



}



h1 {
  position: relative;
  top: 100px;
  width: 83vw;
  float: left;
  font-weight: 700;
  color: black;

}

.datum {
  position: relative;
  top: 100px;
  display: block;
  width: 83vw;
  font-weight: 700;
  color: black;



}



/*

a.nav-link:visited {color: black;}
a.nav-link:active {color: black;}
a.nav-link:hover {color: black;}
*/

nav {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:8.5vw;
    padding-right:8.5vw;
    position: fixed;
    top:0px;
    left:0px;
    float: right;
    width: 100%;
    background-color: rgba(255,255,255,0.4);
    z-index: 1;


}

.container-fluid{
   padding: 0 20px !important;
}


nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
}


nav ul li {
    font-size: 16px;
    display: inline-block;
    color: white;
    text-decoration: none;
    display: inline-block;

}

nav ul li a:active, nav ul li a:hover {
    background:#F2F2F2;
    color: black;

}

nav ul li a {
  color: black;
  padding: 10px 10px 10px 10px !important;

}


.ausstellung-intro {
  margin-top: 700px;
}

.BildText {
  height: auto;
}

#carouselExampleControls {
  margin-top: 50px;
  margin-bottom: 50px;

}

/*
.container {
  margin-left: 8.5vw;
  margin-right: 8.5vw;
  width: 83vw;
}
*/

#HeaderBild {
  margin-bottom: 50px;
  position: relative;
  top:0;
  width: 100%;
  box-shadow: 10px 0 5px -2px #888;
  -webkit-box-shadow: 0px 15px 22px -13px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 15px 22px -13px rgba(0,0,0,0.55);
  box-shadow: 0px 15px 22px -13px rgba(0,0,0,0.55);

}



.ÜberschriftText {
  margin-bottom: 30px;
}

ul {
  list-style: none;
}

#Footer {
    position: absolute;
    background-color: #FE9A2E;
    color: #ffffff;
    height: 200px;
    width: 100vw;
    left: 0;
    padding-left: 8.5vw !important;
    padding-right: 8.5vw !important;
    padding: 0px;


}
#col-links {
  text-align: left;
  padding-left:40px;
  padding-top: 10px;
}
#col-rechts {
  text-align: left;
  padding-top: 10px;
  padding-right:40px;
}
#col-mitte {
  text-align: left;
  padding-top: 10px;
}


.InfoConatiner {
  border-style: solid;
  border-color: rgba (172, 158, 147, 0);
  border-width: thin;
  border-radius: 5px;
  margin: 50px 0px 50px 0px;
  padding: 20px 0px 20px 0px;
}

.VertikaleLinien {
  border-style: solid;
  border-width: thin;
  border-top: none;
  border-bottom: none;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: -10%;
}

.FAQ-Container {
  border-style: none;
  margin: 50px 0px 50px 0px;
  padding: 20px 0px 20px 0px;
}

.fa {
  padding: 10px;
  font-size: 30px;
  height: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px 5px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}


/*CSS FAQ*/
.card-header {
  border-style: none;
  background-color: #fff;
  border-width: thick;
}
/* MEDIA-QUERIES */

@media (max-device-width:768px){
  .navbar-toggle {
    display: none;
  }

}


@media (min-device-width: 1350px){
  #ausstellung-intro {
  margin-top: 750px;
}
}


@media (min-device-width: 1400px){
  #ausstellung-intro {
  margin-top: 800px;
}
}

@media (min-device-width: 1450px){
  #ausstellung-intro {
  margin-top: 850px;
}
}

@media (min-device-width: 1550px){
  #ausstellung-intro {
  margin-top: 900px;
}
}
