html {scroll-behavior: smooth;}

*{
  font-family: Montserrat, Arial;
}

h1 {padding-top: 60px;}

a.nav-link:link {color: black;}
a.nav-link:link {color: black;}
a.nav-link:visited {color: black;}
a.nav-link:active {color: black;}
a.nav-link:hover {color: black;}

nav {
    padding: 0px 20px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    padding-right: 20px;
    display: inline-block;
    float: right;
}
nav li {
    font-size: 16px;
    padding: 20px;
    display: inline-block;
    color: black;
    text-decoration: none;
}
nav li.active, nav li:hover {
    background:#F2F2F2;
    color: ;
}

.BildText {
  width: 50%;
  height: auto;
}

#carouselExampleControls {
  margin-top: 50px;
  margin-bottom: 50px;

}

.container {
  margin-left: 8.35%;
  margin-right: 8.35%;
  width: 83.3%;
}

#HeaderBild {
  margin-bottom: 50px;
  position: relative;
  top:0;
  width: 100%;

}

header {
  background-image: url(.images/Header.jpg);

}

.ÜberschriftText {
  margin bottom: 30px;
}
